*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card{
  /* margin: 5px;
  padding: 10px; */
  
  display: flex;
  flex-direction: column;
  /* background-color: rgb(255, 255, 255); */
  justify-content: center;
  align-content:space-evenly;
  border-radius: 10px;
 
 
  /* padding: 0.8rem; */
 
  box-shadow:4px 4px 10px 1px rgb(153, 149, 149) ;
}
.header{
  text-align: center;
  border-bottom: 1px solid black;
  padding: 10px;
  color:rgb(81, 81, 90);
  /* padding:0.2rem;// */
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 1;
  gap:1rem;
  padding:0.5rem;
  background-color: rgb(207, 207, 219);
}
.card button{
  text-transform: uppercase;
  padding: 8px;
  border: 2px solid rgb(207, 207, 219);
  border-radius: 2px;
  font-size: 0.8rem;
  font-weight: 800;
  color:rgb(81, 81, 90);
  background-color:rgb(255, 255, 255);
}

.card__img{
  height:250px;
  width:  300px;
  background-size:cover;
  border-radius: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 0;
}
.card__info{
  height:150px;
  width:300px;
  display: flex;
  flex-direction: column;
  gap:4px;
  background-color: rgb(255, 255, 255);
  padding:0.8rem; 
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}